<footer class="page-footer">
  <section class="page-footer__contacts contacts">
    <h2 class="visually-hidden">Контакты</h2>
    <ul class="page-footer__social-list contacts__social-list">
      {% include "social-networks.njk" %}
    </ul>
    <div class="page-footer__contact-links contacts__links">
      <a href="mailto:{{ email }}" class="page-footer__email contacts__email">{{ email }}</a>
    </div>
    <ul class="page-footer__copyright copyright">
      <li>
        <span class="copyright__text">Design by <a href="mailto:{{ designerContact }}" class="copyright__link">Gala Dedyukhina</a></span>
      </li>
      <li>
        <span class="copyright__text">Developed by <a href="https://liga-a.ru/" class="copyright__link">Liga A</a></span>
      </li>
    </ul>
  </section>
</footer>
