<footer class="page-footer">
  <section class="page-footer__contacts contacts">
    <h2 class="visually-hidden">Контакты</h2>
    <ul class="page-footer__social-list contacts__social-list">
      <li>
        <a href="#" aria-label="Мы на гитхабе" class="contacts__social-link">
          <svg>
            <use xlink:href="/assets/sprite_auto.svg#icon-github" />
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Мы в телеграме" class="contacts__social-link">
          <svg>
            <use xlink:href="/assets/sprite_auto.svg#icon-telegram" />
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Мы на ютуб" class="contacts__social-link">
          <svg>
            <use xlink:href="/assets/sprite_auto.svg#icon-youtube" />
          </svg>
        </a>
      </li>
    </ul>
    <div class="page-footer__contact-links contacts__links">
      <a href="mailto:me@r3nya.ru" class="page-footer__email contacts__email">me@r3nya.ru</a>
    </div>
    <ul class="page-footer__copyright copyright">
      <li>
        <span class="copyright__text">Design by <a href="#" class="copyright__link">Gala Dedyukhina</a></span>
      </li>
      <li>
        <span class="copyright__text">Developed by <a href="https://liga-a.ru/" class="copyright__link">Liga A</a></span>
      </li>
    </ul>
  </section>
</footer>
