<header class="page-header">
  <a class="page-header__logo-link">
    <div class="page-header__logo-wrapper">
      <img src="/assets/logo.svg" width="160" height="160" alt="JSNN">
    </div>
    <span class="page-header__title">JSNN</span>
    <span class="page-header__description">Сообщество разработчиков Нижнего Новгорода</span>
  </a>
  <nav class="page-header__nav">
    <section class="page-header__nav-filters filters">
      <h2>Мероприятия</h2>
      <div class="filters__input-group">
        <input type="checkbox" id="future-events" name="future" checked>
        <label for="future-events">Предстоящие</label>
      </div>
      <div class="filters__input-group">
        <input type="checkbox" id="past-events" name="past">
        <label for="past-events">Прошедшие</label>
      </div>
    </section>
    <a href="about.html" class="page-header__nav-about-link">О сообществе</a>

    <section class="page-header__nav-menu menu">
      <div class="menu__content menu__content--hidden">
        <h2>Меню</h2>
        <ul class="menu__items">
          <li>
            <a href="/events.html" class="menu__item-link">Мероприятия</a>
          </li>
          <li>
            <a href="contacts.html" class="menu__item-link">Контакты</a>
          </li>
          <li>
            <a href="about.html" class="menu__item-link">О сообществе</a>
          </li>
        </ul>
      </div>
      <a href="#" class="menu__button menu__button--open">Меню</a>
    </section>
  </nav>
</header>
