---
description: Сообщество JavaScript разработчиков Нижнего Новгорода
youtube: https://www.youtube.com/channel/UC4OQwFvLMPVFTqb0hyqknSw
telegram: https://t.me/js_nn
github: https://github.com/it52-jsnn/
email: hello-jsnn@pm.me
designerContact: galadedyukhinaa@gmail.com
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
      <meta name="description" content="{{ title }}">
      <title>{{ title }}</title>
    {% else %}
      <meta name="description" content="{{ description }}">
      <title>{{ description }}</title>
    {% endif %}

    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="content-wrapper">
      {% include "header.njk" %}

      <main class="page-main">
        {{ content | safe }}
      </main>

      {% include "footer.njk" %}
    </div>
  </body>
  <script src="/js/script.js" defer></script>
</html>
