<section class="page-header__nav-menu menu">
  <div class="menu__content menu__content--hidden">
    <h2>Меню</h2>
    <ul class="menu__items">
      <li>
        <a href="/events.html" class="menu__item-link">Мероприятия</a>
      </li>
      <li>
        <a href="/contacts.html" class="menu__item-link">Контакты</a>
      </li>
      <li>
        <a href="/about.html" class="menu__item-link">О сообществе</a>
      </li>
    </ul>
  </div>
  <a href="#" class="menu__button menu__button--open">Меню</a>
</section>
