<li>
  <a href="{{ github }}" aria-label="Мы на гитхабе" class="contacts__social-link">
    <svg>
      <use xlink:href="/assets/sprite_auto.svg#icon-github" />
    </svg>
  </a>
</li>
<li>
  <a href="{{ telegram }}" aria-label="Мы в телеграме" class="contacts__social-link">
    <svg>
      <use xlink:href="/assets/sprite_auto.svg#icon-telegram" />
    </svg>
  </a>
</li>
<li>
  <a href="{{ youtube }}" aria-label="Мы на ютуб" class="contacts__social-link">
    <svg>
      <use xlink:href="/assets/sprite_auto.svg#icon-youtube" />
    </svg>
  </a>
</li>
