.contacts {
  @include reset-list;

  h2 {
    display: none;

    @media (max-width: $mobile-max) {
      @include main-text(38px, 23px, $bold);
    }
  }
}

.contacts__social-list {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  grid-template-rows: 32px;
  grid-column-gap: 28px;

  @include reset-list;
  margin-bottom: 15px;
}

.contacts__social-link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.contacts__email {
  display: inline-block;
  margin-bottom: 52px;

  @include additional-text(14px, 16px, $normal);
  color: $link-color;
  text-decoration: underline;

  cursor: pointer;

  @media (max-width: $mobile-max) {
    @include additional-text(16px, 19px, $normal);
  }
}
