.copyright {
  @include reset-list;
}

.copyright__text {
  @include additional-text(14px, 16px, $normal);
  color: $additional-text-color;

  @media (max-width: $mobile-max) {
    @include additional-text(16px, 19px, $normal);
  }
}

.copyright__link {
  @include additional-text(14px, 16px, $normal);
  color: $link-color;
  text-decoration: underline;

  transition: opacity 0.3s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-max) {
    @include additional-text(16px, 19px, $normal);
  }
}
