.events {
  background-image: url("../img/deer-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;

  @media (max-width: $mobile-max) {
    background-image: none;
  }
}

.events__list {
  @include reset-list;

  li {
    margin-bottom: 36px;
  }
}
