.event-info {
  padding-top: 60px;

  @media (max-width: $mobile-max) {
    padding-top: 26px;
  }
}

.event-info__date {
  position: relative;
  margin: 0;
  margin-bottom: 41px;
  padding-left: 41px;

  @include additional-text(20px, 23px, $normal);
  color: $main-color;

  @media (max-width: $mobile-max) {
    padding-left: 31px;
    margin-bottom: 29px;

    @include additional-text(16px, 19px, $normal);
  }

  &::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 0;
    width: 22px;
    height: 24px;
    background-image: url("../img/icon-calendar.svg");
    background-repeat: no-repeat;
    background-size: 22px 25px;

    @media (max-width: $mobile-max) {
      background-size: 18px 20px;
      width: 18px;
      height: 20px;
      left: 0;
      top: -1px;
    }
  }
}

.event-info__time {
  position: relative;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 41px;

  @include additional-text(20px, 23px, $normal);
  color: $main-color;

  @media (max-width: $mobile-max) {
    padding-left: 31px;
    margin-bottom: 26px;

    @include additional-text(16px, 19px, $normal);
  }

  &::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-clock.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;

    @media (max-width: $mobile-max) {
      background-size: 18px 20px;
      width: 18px;
      height: 20px;
      left: 0;
    }
  }
}
.event-info__location {
  position: relative;
  margin: 0;
  padding-left: 41px;

  @include main-text(20px, 24px, $normal);
  color: $main-color;

  @media (max-width: $mobile-max) {
    padding-left: 30px;

    @include main-text(16px, 24px, $normal);
  }

  &::before {
    position: absolute;
    content: "";
    left: 6px;
    top: -2px;
    width: 17px;
    height: 25px;
    background-image: url("../img/icon-location.svg");
    background-repeat: no-repeat;
    background-size: 17px 25px;

    @media (max-width: $mobile-max) {
      background-size: 12px 18px;
      width: 12px;
      height: 18px;
      left: 2px;
      top: 4px;
    }
  }
}
