.event {

  &--active {
    .event__title {
      text-decoration: underline;
    }
  }
}

.event__title {
  margin: 0;
  @include additional-text(30px, 35px, $semibold);
  color: $main-color;

  @media (max-width: $mobile-max) {
    @include additional-text(24px, 28px, $semibold);
  }
}

.event__description {
  margin: 0;
  @include main-text(18px, 21px, $normal);
  color: $main-text-color;

  @media (max-width: $mobile-max) {
    @include main-text(16px, 22px, $normal);
  }
}

.event__tags {
  @include reset-list;

  @media (max-width: $mobile-max) {
    display: none;
  }
}

.event__tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;

  @include additional-text(18px, 21px, $normal);
  color: $accent-color;
}
