.event {
  width: 100%;

  @media (max-width: $mobile-max) {
    display: grid;
    grid-columns: 100% 84px;
  }

  &--active {
    .event__title {
      text-decoration: underline;
    }
  }

  &--past {
    display: none;

    @media (max-width: $mobile-max) {
      display: grid;
    }
  }

  &:last-of-type {
    @media (max-width: $mobile-max) {
      display: none;
    }
  }
}

.event__title {
  margin: 0;
  margin-bottom: 17px;

  @include additional-text(30px, 35px, $semibold);
  color: $main-color;

  @media (max-width: $mobile-max) {
    margin-bottom: 2px;

    @include additional-text(24px, 28px, $semibold);
  }
}

.event__description {
  margin: 0;
  margin-bottom: 8px;

  @include main-text(18px, 21px, $normal);
  color: $main-text-color;

  @media (max-width: $mobile-max) {
    @include main-text(16px, 22px, $normal);
  }
}

.event__address {
  @media (max-width: $mobile-max) {
    display: none;
  }
}

.event__tags {
  @include reset-list;

  @media (max-width: $mobile-max) {
    display: none;
  }
}

.event__tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;

  @include additional-text(18px, 21px, $normal);
  color: $accent-color;
}

.event__status {
  display: none;

  @media (max-width: $mobile-max) {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: end;

    margin-bottom: 10px;

    width: 64px;
    height: 20px;

    display: inline-block;

    @include main-text(7px, 22px, $normal);
    text-align: center;
    color: $main-color;

    background-color: $status-color;
    border-radius: 10px;
  }
}

.event--past .event__status {
  color: $main-text-color;
  background-color: $past-status-color;
}
