.event-agenda {
  padding-top: 55px;
}


.event-agenda__list {
  @include reset-list;
}

.event-agenda__item {
  display: grid;
  grid-template-columns: 118px 1fr;
}

.event-agenda__time {
  grid-column: 1;
  grid-row: 1;
  align-self: start;

  padding-right: 77px;

  @include additional-text(16px, 21px, 500);
  color: $main-color;
}

.event-agenda__info {
  grid-column: 2;
  grid-row: 1;
  align-self: start;

  padding-top: 6px;
  padding-bottom: 33px;
}

.event-agenda__title {
  margin: 0;
  margin-bottom: 9px;

  @include main-text(26px, 31px, $bold);
  color: $accent-text-color;

  @media (max-width: $mobile-max) {
    margin-bottom: 7px;

    @include main-text(18px, 24px, $bold);
  }
}

.event-agenda__speaker {
  margin: 0;
  margin-bottom: 17px;
}

.event-agenda__speaker-name {
  @include main-text(18px, 21px, $normal);
  color: $speaker-name-color;

  @media (max-width: $mobile-max) {
    @include main-text(12px, 14px, $normal);
  }
}

.event-agenda__speaker-company {
  @include additional-text(18px, 21px, $normal);
  color: $accent-color;

  @media (max-width: $mobile-max) {
    @include additional-text(12px, 14px, $normal);
  }
}

.event-agenda__description {
  margin: 0;
  @include main-text(14px, 20px, $normal);
  color: $main-color;

  @media (max-width: $mobile-max) {
    @include main-text(13px, 20px, $normal);
  }
}

.event-agenda__item--break {

  & .event-agenda__info {
    padding-bottom: 24px;
  }

  & .event-agenda__title {
    padding-top: 8px;

    @include main-text(20px, 24px, $normal);
    color: $main-text-color;
  }
}
