.event-agenda {
  padding-top: 55px;
  padding-left: 5px;

  @media (max-width: $mobile-max) {
    padding-top: 16px;
    padding-left: 0;
  }
}


.event-agenda__list {
  @include reset-list;
}

.event-agenda__item {
  display: grid;
  grid-template-columns: 118px 1fr;

  @media (max-width: $mobile-max) {
    grid-template-columns: 63px 1fr;
  }
}

.event-agenda__time {
  grid-column: 1;
  grid-row: 1;
  align-self: start;

  padding-right: 77px;

  @include additional-text(16px, 21px, 500);
  color: $main-color;

  @media (max-width: $mobile-max) {
    @include additional-text(12px, 17px, 500);
  }
}

.event-agenda__info {
  position: relative;
  grid-column: 2;
  grid-row: 1;
  align-self: start;

  padding-top: 6px;
  padding-bottom: 33px;

  @media (max-width: $mobile-max) {
    padding-top: 7px;
    padding-bottom: 33px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: -59px;
    width: 20px;
    height: 20px;
    border: 2px solid $main-color;
    border-radius: 50%;

    @media (max-width: $mobile-max) {
      height: 16px;
      width: 16px;
      left: -24px;
      top: 11px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 32px;
    left: -50px;
    width: 1px;
    height: calc(100% - 20px);
    border-left: 2px solid $main-color;

    @media (max-width: $mobile-max) {
      left: -17px;
      top: 27px;
      height: calc(100% - 15px);
    }
  }
}

.event-agenda__item--break .event-agenda__info::after {
  border-left: 2px dashed $main-color;
}

.event-agenda__item:last-of-type .event-agenda__info::after {
  display: none;
}

.event-agenda__title {
  margin: 0;
  margin-bottom: 9px;

  @include main-text(26px, 31px, $bold);
  color: $accent-text-color;

  @media (max-width: $mobile-max) {
    margin-bottom: 4px;

    @include main-text(18px, 24px, $bold);
  }
}

.event-agenda__speaker {
  margin: 0;
  margin-bottom: 17px;
}

.event-agenda__speaker-name {
  @include main-text(18px, 21px, $normal);
  color: $speaker-name-color;

  @media (max-width: $mobile-max) {
    @include main-text(12px, 14px, $normal);
  }
}

.event-agenda__speaker-company {
  @include additional-text(18px, 21px, $normal);
  color: $accent-color;

  @media (max-width: $mobile-max) {
    @include additional-text(12px, 14px, $normal);
  }
}

.event-agenda__description {
  margin: 0;

  @include main-text(14px, 20px, $normal);
  color: $main-color;

  @media (max-width: $mobile-max) {
    padding-right: 10px;

    @include main-text(13px, 20px, $normal);
  }
}

.event-agenda__item--break {
  & .event-agenda__info {
    padding-bottom: 24px;
  }

  & .event-agenda__title {
    padding-top: 8px;

    @include main-text(20px, 24px, $normal);
    color: $main-text-color;
  }
}
