.menu {
  width: calc(100% - 2 * 20px);
}

.menu__button {
  display: inline-block;
  width: 100%;
  min-height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;

  @include main-text(20px, 24px, $bold);
  letter-spacing: 0.38px;
  color: $background-color;
  text-align: center;

  border-radius: 6px;
  background-color: $main-text-color;

  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &:hover {
    background-color: $additional-text-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.menu__content {
  margin-bottom: 8px;

  h2 {
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 14px;

    @include main-text(13px, 15px, $bold);
    color: rgba(38, 38, 38, 0.6);
    text-align: center;

    background-color: $menu-color;
    border-radius: 6px 6px 0 0;
  }

  &--hidden {
    display: none;
  }
}


.menu__items {
  width: 100%;

  @include reset-list;

  li {
    border-top: 1px solid $background-color;
  }
}

.menu__item-link {
  display: inline-block;
  width: 100%;
  min-height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  @include main-text(20px, 24px, $normal);

  text-align: center;
  color: $main-color;
  background-color: $menu-color;

  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    background-color: $accent-color;
  }

  &:active {
    color: rgba(38, 38, 38, 0.6);
  }
}

.menu__items li:last-of-type .menu__item-link {
  border-radius: 0 0 6px 6px;
}
