.page-main {
  grid-row: 1 / span 2;
  grid-column: 2;

  display: grid;
  grid-template-rows: 246px 47px 1fr;

  padding-right: calc(100% / 16);
  margin-left: calc(100% / 14);

  @media (max-width: $tablet-max) {
    margin-left: 0;
    margin-bottom: 100px;
    grid-column: 1;
    grid-row: 2;

    grid-template-rows: 140px 40px 1fr;

    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-max) {
    padding-left: 0;
    padding-right: 0;
    grid-template-rows: 50px 59px 1fr;
  }
}

.page-main__title {
  grid-row: 1;
  align-self: end;

  h1 {
    margin: 0;

    @include main-text(82px, 96px, $bold);

    @media (max-width: $tablet-max) {
      @include main-text(55px, 67px, $bold);
    }

    @media (max-width: $mobile-max) {
      margin-left: -3px;

      @include main-text(38px, 23px, $bold);
    }
  }

  .page-main__status {
    display: none;
  }
}

.page-main__title--event {
  margin-bottom: -2px;

  h1 {
    @include additional-text(82px, 96px, $bold);

    @media (max-width: $tablet-max) {
      @include additional-text(55px, 67px, $bold);
    }

    @media (max-width: $mobile-max) {
      margin-left: 0;

      @include additional-text(38px, 23px, $bold);
    }
  }

  @media (max-width: $mobile-max) {
    display: grid;
    grid-template-columns: 1fr 65px;

    h1 {
      grid-row: 1;
      grid-column: 1;
      justify-self: start;
    }

    .page-main__status {
      grid-row: 1;
      grid-column: 2;
      justify-self: end;

      width: 64px;
      height: 20px;
      padding-left: 5px;
      padding-right: 5px;

      display: inline-block;

      @include main-text(7px, 20px, $normal);
      text-align: center;
      color: $main-color;

      background-color: $status-color;
      border-radius: 10px;

      &--past {
        color: $main-text-color;
        background-color: $past-status-color;
      }
    }
  }
}

.page-main__nav {
  grid-row: 2;
  align-self: end;

  &--tablet {
    display: none;

    @media (max-width: $tablet-max) {
      display: grid;
      grid-template-columns: 200px 1fr;
    }

    @media (max-width: $mobile-max) {
      display: grid;
      grid-template-columns: 167px 1fr;
    }
  }
}

.page-main__content {
  grid-row: 3;
  align-self: start;

  padding-left: 5px;

  @media (max-width: $mobile-max) {
    padding-left: 0;
  }
}
