.page-main {
  grid-row: 1 / span 2;
  grid-column: 2;

  display: grid;
  grid-template-rows: 246px 47px 1fr;

  padding-right: calc(100% / 16);
  margin-left: calc(100% / 14);

  @media (max-width: $tablet-max) {
    margin-left: 0;
    grid-column: 1;
    grid-row: 2;

    grid-template-rows: 140px 40px 1fr;

    padding-left: calc(100% / 16);
  }

  @media (max-width: $mobile-max) {
    padding-left: 0;
    padding-right: 0;
    grid-template-rows: 50px 59px 1fr;
  }
}

.page-main__title {
  grid-row: 1;
  align-self: end;

  margin: 0;

  @include main-text(82px, 96px, $bold);

  @media (max-width: $tablet-max) {
    @include main-text(55px, 67px, $bold);
  }

  @media (max-width: $mobile-max) {
    margin-left: -3px;

    @include main-text(38px, 23px, $bold);
  }

  &--event {
    margin-bottom: -2px;

    @include additional-text(82px, 96px, $bold);

    @media (max-width: $tablet-max) {
      @include additional-text(55px, 67px, $bold);
    }

    @media (max-width: $mobile-max) {
      margin-left: 0;

      @include additional-text(38px, 23px, $bold);
    }
  }
}

.page-main__nav {
  grid-row: 2;
  align-self: end;

  &--mobile {
    display: none;

    @media (max-width: $mobile-max) {
      display: grid;
      grid-template-columns: 167px 1fr;
    }
  }
}

.page-main__content {
  grid-row: 3;
  align-self: start;
}
