.page-footer {
  grid-column: 1;
  grid-row: 2;
  align-self: end;

  padding-left: 12.5%;
  padding-bottom: 25px;

  @media (max-width: $tablet-max) {
    grid-column: 1;
    grid-row: 3;

    padding-top: 30px;
  }
}
