@font-face {
  font-family: "Work Sans";
  font-weight: $normal;
  src: url("../fonts/work-sans-regular.woff2") format("woff2"), url("../fonts/work-sans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  font-weight: $semibold;
  src: url("../fonts/work-sans-600.woff2") format("woff2"), url("../fonts/work-sans-600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  font-weight: $bold;
  src: url("../fonts/work-sans-700.woff2") format("woff2"), url("../fonts/work-sans-700.woff") format("woff");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding-top: 60px;
  margin: 0;

  display: grid;
  grid-template-columns: calc(100% / 6) calc(100% - 100% / 6 - 100% / 16);
  column-gap: calc(100% / 16);

  background-color: $background-color;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
