$main-color: #2f2f2f;
$accent-color: #c49612;
$background-color: #ffffff;
$link-color: #039be5;
$main-text-color: #6a6a6a;
$additional-text-color: #4d4d4d;
$menu-color: #e6e6e6;
$status-color: #f7e04b;
$past-status-color: #d8d8d8;
$header-text-color: #434343;
$accent-text-color: #000000;
$speaker-name-color: #8d8d8d;


$main-font-family: "Lucida Grande", "Helvetica", sans-serif;
$additional-font-family: "Work Sans", "Open Sans", sans-serif;

$bold: 700;
$semibold: 600;
$normal: 400;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
