---
layout: layout.njk
permalink: "/about.html"
---

<div class="page-main__title">
  <h1>О сообществе</h1>
</div>
<section class="page-main__content about">
  <p><b>JSNN</b> - это сообщество разработчиков Нижнего Новгорода.</p>
  <p>Добавить какую-нибудь простыню текста, которая в десктопной версии отображается в разделе «О&nbsp;сообществе».</p>

  <h2>Заголовок секции</h2>
  <blockquote>
    Пример цитаты
  </blockquote>

  <ul>
    <li>Пример</li>
    <li>Ненумерованного</li>
    <li>Списка</li>
  </ul>
</section>
