---
layout: layout.njk
permalink: "/contacts.html"
---

<div class="page-main__title">
  <h1>Контакты</h1>
</div>
<section class="page-main__content">
  <section class="contacts">
    <h2 class="visually-hidden">Контакты</h2>
    <ul class="contacts__social-list">
      {% include "social-networks.njk" %}
    </ul>
    <div class="contacts__links">
      <a href="mailto:{{ email }}" class="contacts__email">{{ email }}</a>
    </div>
    <ul class="copyright">
      <li>
        <span class="copyright__text">Design by <a href="mailto:{{ designerContact }}" class="copyright__link">Gala Dedyukhina</a></span>
      </li>
      <li>
        <span class="copyright__text">Developed by <a href="#" class="copyright__link">Liga A</a></span>
      </li>
    </ul>
  </section>
</section>
