---
layout: layout.njk
---

<div class="page-main__title">
  <h1>Мероприятия</h1>
</div>
<section class="page-main__nav page-main__nav--tablet filters">
  <div class="filters__input-group">
    <input type="checkbox" id="future-events-tablet" name="future" checked>
    <label for="future-events-tablet">Предстоящие</label>
  </div>
  <div class="filters__input-group">
    <input type="checkbox" id="past-events-tablet" name="past">
    <label for="past-events-tablet">Прошедшие</label>
  </div>
</section>
<section class="page-main__content events">
  <ul class="events__list">
    <li class="events__item event event--past">
      <a href="schedule.html" class="event__link" target="_blank" aria-label="Перейти на страницу мероприятия">
        <h2 class="event__title">JSNN #12</h2>
        <p class="event__description"><span class="event__date">Суббота, 29 июня 2019, 15:00</span><span class="event__address"> / г. Нижний Новгород, ул.&nbsp;Ковалихинская, д.&nbsp;8, Центр Международной Торговли.</span></p>
        <ul class="event__tags">
          <li class="event__tag"><a href="#" class="event__tag-link">#jsnn</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#runtime</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#yandex</a></li>
        </ul>
      </a>
      <span class="event__status">Прошедшие</span>
    </li>
    <li class="events__item event">
      <a href="schedule.html" class="event__link" target="_blank" aria-label="Перейти на страницу мероприятия">
        <h2 class="event__title">JSNN #13</h2>
        <p class="event__description"><span class="event__date">Суббота, 29 июня 2019, 15:00</span><span class="event__address"> / г. Нижний Новгород, ул.&nbsp;Ковалихинская, д.&nbsp;8, Центр Международной Торговли.</span></p>
        <ul class="event__tags">
          <li class="event__tag"><a href="#" class="event__tag-link">#jsnn</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#runtime</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#yandex</a></li>
        </ul>
      </a>
      <span class="event__status">Предстоящие</span>
    </li>
    <li class="events__item event">
      <a href="schedule.html" class="event__link" target="_blank" aria-label="Перейти на страницу мероприятия">
        <h2 class="event__title">JSNN #14</h2>
        <p class="event__description"><span class="event__date">Суббота, 29 июня 2019, 15:00</span><span class="event__address"> / г. Нижний Новгород, ул.&nbsp;Ковалихинская, д.&nbsp;8, Центр Международной Торговли.</span></p>
        <ul class="event__tags">
          <li class="event__tag"><a href="#" class="event__tag-link">#jsnn</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#runtime</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#yandex</a></li>
        </ul>
      </a>
      <span class="event__status">Предстоящие</span>
    </li>
    <li class="events__item event">
      <a href="schedule.html" class="event__link" target="_blank" aria-label="Перейти на страницу мероприятия">
        <h2 class="event__title">JSNN #15</h2>
        <p class="event__description"><span class="event__date">Суббота, 29 июня 2019, 15:00</span><span class="event__address"> / г. Нижний Новгород, ул.&nbsp;Ковалихинская, д.&nbsp;8, Центр Международной Торговли.</span></p>
        <ul class="event__tags">
          <li class="event__tag"><a href="#" class="event__tag-link">#jsnn</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#runtime</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#yandex</a></li>
        </ul>
      </a>
      <span class="event__status">Предстоящие</span>
    </li>
    <li class="events__item event">
      <a href="schedule.html" class="event__link" target="_blank" aria-label="Перейти на страницу мероприятия">
        <h2 class="event__title">JSNN #16</h2>
        <p class="event__description"><span class="event__date">Суббота, 29 июня 2019, 15:00</span><span class="event__address"> / г. Нижний Новгород, ул.&nbsp;Ковалихинская, д.&nbsp;8, Центр Международной Торговли.</span></p>
        <ul class="event__tags">
          <li class="event__tag"><a href="#" class="event__tag-link">#jsnn</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#runtime</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#yandex</a></li>
        </ul>
      </a>
      <span class="event__status">Предстоящие</span>
    </li>
    <li class="events__item event">
      <a href="schedule.html" class="event__link" target="_blank" aria-label="Перейти на страницу мероприятия">
        <h2 class="event__title">JSNN #17</h2>
        <p class="event__description"><span class="event__date">Суббота, 29 июня 2019, 15:00</span><span class="event__address"> / г. Нижний Новгород, ул.&nbsp;Ковалихинская, д.&nbsp;8, Центр Международной Торговли.</span></p>
        <ul class="event__tags">
          <li class="event__tag"><a href="#" class="event__tag-link">#jsnn</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#runtime</a></li>
          <li class="event__tag"><a href="#" class="event__tag-link">#yandex</a></li>
        </ul>
      </a>
      <span class="event__status">Предстоящие</span>
    </li>
  </ul>
</section>
