---
layout: layout.njk
permalink: index.html
---

<div class="page-main__title">
  <h1>Мероприятия</h1>
</div>

<section class="page-main__nav page-main__nav--tablet filters">
  {#
  <div class="filters__input-group">
    <input type="checkbox" id="future-events-tablet" name="future" checked>
    <label for="future-events-tablet">Предстоящие</label>
  </div>
  <div class="filters__input-group">
    <input type="checkbox" id="past-events-tablet" name="past">
    <label for="past-events-tablet">Прошедшие</label>
  </div>
  #}
</section>

<section class="page-main__content events">
  <ul class="events__list">
    {%- for event in collections.events | reverse -%}
      <li class="events__item event event--past">
        <a href="{{ event.url }}" class="event__link" aria-label="Перейти на страницу мероприятия">
          <h2 class="event__title">{{ event.data.title }}</h2>
          <p class="event__description">
            <span class="event__date">{{ event.data.dateAndTime }}</span>
            <span class="event__address"> / {{ event.data.address }}</span>
          </p>

          {% if event.data.eventTags.length %}
            <ul class="event__tags">
              {% for tag in event.data.eventTags %}
                <li class="event__tag">
                  <a href="#" class="event__tag-link">#{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </a>
        <span class="event__status">Прошедшие</span>
      </li>
    {%- endfor -%}
  </ul>
</section>
