@import "variables.scss";
@import "base.scss";
@import "mixins.scss";
@import "./blocks/page-header.scss";
@import "./blocks/menu.scss";
@import "./blocks/page-main.scss";
@import "./blocks/about.scss";
@import "./blocks/contacts.scss";
@import "./blocks/events.scss";
@import "./blocks/event.scss";
@import "./blocks/filters.scss";
@import "./blocks/copyright.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/event-navigation.scss";
@import "./blocks/event-agenda.scss";
@import "./blocks/event-info.scss";
@import "./blocks/speeches-by-tags.scss";
