name: E2E

on:
  push:
    branches: [ puppeteer-tests ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [13.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      uses: ianwalter/puppeteer@3.0.0
      with:
        args: npm ci
    - name: Run Puppeteer Tests
      uses: ianwalter/puppeteer@3.0.0
      with:
        args: npm run e2e:ci
      env:
        CI: true
